.list {
    border: 1px solid #F1F1F5;
    border-radius: 28px;
    padding: 8px;
    flex: 1;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    position: relative;
}

.blurLeft,
.blurRight {
    position: absolute;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    @media (max-width: 1024px) {
        display: none;
    }
}

.blurLeft {
    background: url('/images/list-blur-bottom.png') left bottom no-repeat;
    height: 485px;
    bottom: -100px;
    left: -100px;
}

.blurRight {
    background: url('/images/list-blur-top.png') right top no-repeat;
    top: -214px;
    right: -522px;
    height: 718px;
}

.wrapper {
    background: #fff;
    border: 1px solid #F1F1F5;
    border-radius: 20px;
    padding-top: 20px;
    height: 100%;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 16px 0;
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 42px;
    margin-bottom: 24px;

    @media (max-width: 768px) {
        padding-left: 16px;
        padding-right: 20px;
    }
}

.mapLink {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1.2;
    color: #0C233A;
    position: relative;

    span {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background: #0C233A;
            height: 1px;
            width: 100%;
            bottom: -1px;
        }
    }
}

.tabs {
    display: flex;
    width: max-content;
    background: #F7F7F7;
    border-radius: 100px;
    padding: 6px;
    list-style: none;


    li {
        padding: 8px 12px;
        border-radius: 100px;
        color: #0C233A;
        cursor: pointer;

        &.activeTab {
            background: #202020;
            color: #fff;
            cursor: default;
        }
    }
}

.button {
    background: transparent;
}

.row {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    transition: background .5s ease;

    &:hover {
        background: #F4F4F4;

        .button {
            a {
                background: #fff;
            }
        }
    }
}

.name {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(12, 35, 58, 0.4);
    line-height: 1.2;
    width: 170px;
}

.logo {
    max-height: 60px;
    width: 60px;
    object-fit: contain;
    display: flex;
}

.rate {
    width: 110px;

    @media (max-width: 1160px) {
        width: 80px;
    }
}

.address {
    color: #0C233A;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 209px;
    padding-right: 15px;

    @media (max-width: 1160px) {
        width: 150px;
    }
}

.rating {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 4px;
}

.tab {
    height: 272px;
    overflow: auto;
    position: relative;
    overscroll-behavior: contain;

    @media (max-width: 740px) {
        display: none;
    }
}

.tabsWrapper {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 72px;
        background: #FFFFFF;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        z-index: 2;
        pointer-events: none;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.th {
    height: auto;
    margin-bottom: 5px;

    @media (max-width: 768px) {
        display: none;
    }

    &:hover {
        background: transparent;
    }
}

.heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #202020;
}

.tabMobile {
    display: none;

    @media (max-width: 740px) {
        display: grid;
        gap: 16px;
    }
}

.itemMobile,
.tabMobileHero {
    display: grid;
    grid-template-columns: 1fr 160px;
    gap: 16px;
    padding: 0 16px;

    @media (max-width: 360px) {
        grid-template-columns: 1fr 140px;
        gap: 4px;
    }
}

.tabMobileHero {
    font-weight: bold;
}

.logoMobile {
    width: 60px;
    max-height: 60px;

    img {
        object-fit: contain;
        display: flex;
        margin-bottom: 6px;
    }
}

.ratingMobile {
    font-size: 12px;
    color: #0C233A;
    gap: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.addressMobile {
    font-size: 12px;
    color: #0C233A;
}

.exchangeRateMobile {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 10px;

    @media (max-width: 360px) {
        grid-template-columns: 50px 1fr;
        gap: 5px;
    }
}

.exchangeRateMobileValue {
    display: flex;
    align-items: center;
    height: 40px;
    background: #F4F4F4;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    color: #202020;
}