.headingAlign {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    @media (max-width: 768px) {
        margin-bottom: 24px;
    }
}

.heading {
    border: 1px solid #F1F1F5;
    border-radius: 14px;
    padding: 6px 8px;
    line-height: 1.4;
    font-weight: 400;
    min-width: 0;
    display: inline-flex;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;

    span {
        font-weight: 800;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 14px;
    border: 1px solid #F1F1F5;
    background: #fff;
    height: 42px;
    padding-left: 4px;
    padding-right: 16px;
    min-width: 0;

    p {
        text-wrap: wrap;
        text-align: center;
    }
}

.icon {
    background: #6335FC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 16px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    gap: 4px;
    line-height: 1;
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.75) inset;
}

/*.headingGradient {*/
/*    background: linear-gradient(90.04deg, #202020 0.1%, rgba(32, 32, 32, 0) 134.63%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    background-clip: text;*/
/*    color: transparent;*/
/*}*/