.overlay {
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.content {
	position: relative;
	border: none;
	background: transparent;
	border-radius: 16px;
	outline: none;
	padding: 0;
	width: 100%;
	max-width: 1320px;
}

.wrap {
    display: grid;
    grid-template-columns: 314px 1fr;
    gap: 8px;
    height: 100%;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
